{% extends "layout.html" %}

{% block title %}
    Deposit
{% endblock %}

{% block main %}
    <b>Add Money to Account</b>


    <p></p><form action="/deposit" method="post">
        <div class="form-group">
            <input class="form-control" name="deposit" placeholder="Money" type="number"/>
        </div>
        <input name="agreement" type="checkbox"/> Use Payment Method On File
        <p></p><button class="btn btn-primary" type="submit">Submit</button></p>
    </form>
{% endblock %}
